<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Occupations Show Page</title>
</head>
<body>
    <h1>I'm Interested in <%= specificOccupationalData.title %></h1>
    
    <a href="/exploreoccupations">Back to Occupations</a>
    <h1><%=specificOccupationalData.description%></h1>
    <div>
        <!-- this is the photo URL -->
         <img src="<%=specificOccupationalData.url%>">
        <p>Meet <%=specificOccupationalData.expert.name%></p>
        <p><%=specificOccupationalData.expert.profile%></p>

            <a href="/editoccupations/<%= specificOccupationalData._id %>">Edit This</a>
    </div>
    <form>
        <button>Delete</button>
    </form>
</body>
</html>